$backgroundColor: #f3f3f3;;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.greeting {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  // align-items: center; /* Center the cards vertically */
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  .card-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.card-gallery .card-column {
  justify-content: start;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .card-gallery .card-column {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


.card {
  /* Add any additional styling for the card */
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 25vw;
  margin-bottom: 1em;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.05); /* Scale the card up on hover */
}

@media only screen and (max-width: 800px) {
  .card{
    max-width: 100vw;
    margin: 1em;
  }
}

.card h2 {
  /* Add any additional styling for the card title */
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  /* Add any additional styling for the card description */
  margin: 10px 0;
  font-size: 1rem;
  width: auto;
}

.card-image {
  /* Add any additional styling for the card image */
  width: auto;
  margin-bottom: 10px;
  display: inline-block; /* Ensure the image is treated as inline-block */
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Constrain the image to the div */
  max-height: 100%; /* Hide unwanted height */
}