header {
    display: flex;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    @media screen and (max-width: 800px) {
        display: block;
        align-items: center;
        align-content: center;
    }
}

.titlogo {
    display: flex;
    align-items: center;
    @media screen and (max-width: 800px) {
        margin: 0 auto;
        width: fit-content;
    }
}

.logo img {
    width: 50px;
    height: 50px;
}

.title {
    text-align: center;
}

.title h1{
    display: inline;
}

.title p {
    display: inline;
    margin-left: 10px;
    color: #333;
}

.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 800px) {
        display: block;
        margin: 0 auto;
        width: fit-content;
        margin-top: 1em;
    }
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button[type="submit"] {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}