header {
    display: flex;
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    @media screen and (max-width: 800px) {
        display: block;
        align-items: center;
        align-content: center;
    }
}

.titlogo {
    display: flex;
    align-items: center;
    transition: transform 0.05s ease-in-out;
    @media screen and (max-width: 800px) {
        margin: 0 auto;
        width: fit-content;
    }
}

.titlogo:hover {
    transform: scale(1.05);
}

.logo img {
    width: 50px;
    height: 50px;
    pointer-events: none;
    pointer-events: none;
    user-select: none;
}

.title {
    text-align: center;
}

.title h1{
    display: inline;
    user-select: none;
}

.title p {
    display: inline;
    margin-left: 10px;
    color: #333;
}